@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 450;
  font-display: swap;
  src: url('/fonts/FiraCode-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/FiraCode-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/FiraCode-Bold.ttf') format('truetype');
}

$font-sizes: (
  14: 14,
  16: 16,
  18: 18,
  20: 20,
  25: 25,
  30: 30,
  45: 45,
);

@each $name, $size in $font-sizes {
  .fm-font-size-#{$name} {
    font-size: #{$size}px;
    line-height: 1;
  }
}

$font-weights: (
  regular: 450,
  medium: 500,
  bold: 700,
);

@each $name, $value in $font-weights {
  .fm-font-weight-#{$name} {
    font-weight: $value;
  }
}

$font-aligns: (
  center,
  start,
  end,
);

@each $name in $font-aligns {
  .fm-font-align-#{$name} {
    text-align: $name;
  }
}
